body {
    background-color: white;
    margin-left: 300px;
	margin-right: 300px;
  }

.topnav {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
	font-family: 'Montserrat', sans-serif;
	color: #4c98af;
	display: inline-block;
	padding: 14px 50px;
	text-decoration: none;
	font-size: 12px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #a0cfdd;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #4c98af;
	color: white;
  }

/* Container holding the image and the text */
.container {
	position: relative;
  }

  .center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: rgb(230, 230, 230);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
	font-weight: bold;
    margin-top: 20px;
  }
  

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
  }

  img { 
	width: 100%;
	height: auto;
	margin-top: 20px;
  }

  h2 {
    color: rgb(58, 58, 58);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 20px;
  }

  h3 {
    color: rgb(58, 58, 58);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 15px;
	margin-bottom: 10px;
  }

  p {
	color: rgb(22, 22, 22);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 15px;
	margin-bottom: 25px;
	text-align: justify;
  }

  ul {
	color:#4c98af;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
	font-weight: bold;
    margin-top: 15px;
	margin-bottom: 25px;
	text-align: justify;
  }

/* Style all font awesome icons */
.center-icons {
	display: table;
	width: 100%;
	padding: 15;
  }
  
  #social-test {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
  }
  
.social {
	  padding-left: 340px;
	}
	
	li2 {
		color: solid rgba(58, 58, 59, 1);
		list-style-type: none;
		display: inline-block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		padding: 5px;
		border: 1px solid rgba(76, 152, 175, 1);
		cursor: pointer;
		margin-left: 10px;
		margin-bottom: 20px;
		transition: ease .3s;
	}

.social:hover {
	color: #4c98af;
	opacity: 0.5;
}

.social:hover {
	color: #4c98af;
	opacity: 0.5;
}

.social:hover > li2 {
	color: #4c98af;
	opacity: 0.5;
}

  footer {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    margin-top: 20px;
	padding: 10px;
	background-color: #4c98af;
	color: white;
  }



  