body {
  background-color: antiquewhite;
  margin-left: 50px;
}

div {
  color: brown;
  font-family: 'Lora', serif;
  font-size: 25px;
  margin: 50px;
  height: 80px;
  width: 750px;
  margin-top: 25px;
  margin-bottom: 180px;
  text-align: justify;
}

h1 {
  color: brown;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-top: 20px;
}

h3 {
  color: brown;
  font-family: 'Lora', sans-serif;
  font-size: 15px;
  margin-top: 8px;
}

p {
  color: brown;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 15px;
  width: 800px;
  text-align: justify;
}
