body {
    background-color: white;
    margin-left: 50px;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  div {
    color: #404040;
    font-family: 'Lora', serif;
    font-size: 25px;
    margin: 50px;
    height: 80px;
    width: 750px;
    margin-top: 25px;
    margin-bottom: 180px;
    text-align: center;
  }
  
  h1 {
    color: #595959;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
  }
  
  h2 {
    color: #595959;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  h3 {
    color: #595959;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  
  p {
    color: #494949;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px;
    width: 800px;
    text-align: justify;
  }
  