html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 1rem;
  color: brown;
  background-color: antiquewhite;
}

p {
   color: brown;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   margin-top: 1px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 50%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
 
input[type=number] {
  width: 5rem;
}

.poetry-content {
  padding-top: 5px;
  padding-left: 5px;
}
