body {
  background-color: antiquewhite;
}

h1 {
  color: blue;
  font-family: 'Playfair Display', serif;
  font-size: 300%;
}
p {
  color: brown;
  font-family: 'Raleway', sans-serif;
  font-size: 160%;
  margin: 50px;
}
